
@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('https://picsum.photos/1920/1080?random=1');
  background-repeat: no-repeat;
  background-size: auto;
  background-color: cadetblue;
  margin: 0;
  flex-direction: column;
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
  animation: fadeIn 0.5s linear;
}

h1 {
  animation: all 0.1s ease-in-out;
  font-size: 12vw;
  color: #ffffff;
  text-shadow: 2px 2px 6px gray;
  user-select: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

h4 {
  animation: all 0.1s ease-in-out;
  font-size: 1.75em;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 2px 2px 6px gray;
  user-select: none;
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 7px;
}

.js-weather {
  position: fixed;
  top: 16px;
  right: 16px;
  font-weight: bold;
  color: white;
  font-size: 18px;
  background-color: rgb(0,0,0,0.5);
  padding: 8px;
  user-select: none;
}

span,
input {
  border: 2px solid rgba(255, 255, 255, 0.7);
  font-size: 1.75em;
  padding: .25em .5em .3125em;
  color: rgba(255, 255, 255, 0.7);
  border-radius: .25em;
  background: transparent;
  transition: all .100s;
  margin-bottom: 16px;
}
span:focus,
input:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.75);
}
span.keyup,
input.keyup {
  color: white;
  border-color: white;
  text-shadow: 0 0 .125em white;
  box-shadow: 0 0 .25em white,inset 0 0 .25em white;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

input:focus::-webkit-input-placeholder {
  opacity: .5;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

input:focus::-moz-placeholder {
  opacity: .5;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  transition: all .25s;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}


ul>li>span {
  border: none;
  color: #FFFFFF;
  padding: 0 8px 0 0;
}

ul>li>button {
  background: none;
  padding-bottom: 8px;
  border: none;
}
